*{
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
}
li{
    list-style:none;
}
img{
    border:none;
}
html,body{
    height:100%;
    
}
body{
    width:100%;
    font-size:12px;
}
.header{
    width:100%;
    height:30px;
    background:#000;
    color:#ccc;
}
.header>p:nth-of-type(1){
    height:30px;
    margin-left:167px;
    text-align:center;
    line-height:30px;
    width:68px;
    float:left;
}
.header>div:nth-of-type(1){
    width:116px;
    height:30px;
    float:left;

}
.header>div:nth-of-type(1)>a{
    height:30px;
    line-height:30px;
    display:block;
    margin-left:22px;
    float:left;
    color:#ccc;
}
.header>div:nth-of-type(1)>a:hover{
    color:#fff;
}
.header>p:nth-of-type(2){
    margin-left:30px;
    height:30px;
    width:48px;
    line-height:30px;
    float:left;
}
.header>p:nth-of-type(2):hover{
    color:#fff;
}
.header>div:nth-of-type(2){
    width:146px;
    height:30px;
    float:left;
    margin-left:210px;
}
.header>div:nth-of-type(2)>a{
    height:30px;
    line-height: 30px;
    display: block;
    margin-left:25px;
    float:left;
    color:#ccc;
}
.header .phone{
    position: relative;
}
.header .phone .code-pic{
    position: absolute;
    left:-30px;
    top:35px;
    display:none;
}
.header .phone:hover .code-pic{
    display:block;
    z-index: 101;
}
.header>div:nth-of-type(2)>a:hover{
    color:#fff;
}
.nav{
    height:30px;
    float:left;
    margin-left:30px;
    width:460px;
}
.nav a{
    color:#ccc;
}

.nav>li{
    float:left;
    margin-right:35px;
    height:30px;
    line-height:30px;
    overflow: hidden;
    position: relative;
}
.nav li div{
    position: absolute;
    top:30px;
    left:0;
    background: #fff;
    width:100px;
    z-index: 10;
    padding-left:10px;
    border:#ccc solid 1px;
    border-top:none;
    
}
.nav li div a{
    display: block;

}
.nav li:hover {
    overflow:visible;
    background:#fff;
    
}

/* .nav li div a:hover{
    color:#f00;
} */
.nav li:hover a{
   color:#333;
}
.nav li a:hover {
    color:#f00;
    
}
.search{
    width:100%;
    height:50px;
    margin-top:20px;
   
   
}
.search img{
    width:208px;
    height:50px;
    margin-left:167px;
    float:left;
}
.search div:nth-of-type(1){
    width:510px;
    height:36px;
    float:left;
    margin-left:135px;
    margin-top:5px;
    border:2px solid #ff2337;
    border-radius:20px;
    position: relative;
}
.search>div:nth-of-type(1)>span:nth-of-type(1){
    position: absolute;
    display: block;
    width:12px;
    height:12px;
    top:12px;
    left:10px;
}
.search>div:nth-of-type(1)>span:nth-of-type(1)>.iconfont{
    color:#eaeaea;
}
.search input{
    width:420px;
    height:36px;
    border:none;
    outline:none;
    line-height:36px;
    margin-left:30px;
    color:#999;
}
.search>div:nth-of-type(1)>span:nth-of-type(2){
    position: absolute;
    width:60px;
    height:36px;
    text-align:center;
    line-height:36px;
    right:0;
    top:0;
    background:#ff0b1a;
    border-radius:18px;

}
.search>div:nth-of-type(1)>span:nth-of-type(2)>.iconfont{
    font-size:20px;
    color:#fffefe;
}
.car{
    display:block;
    width:110px;
    height:36px;
    float:left;
    margin-left:50px;
    margin-top:5px;
    border:2px solid #ff1e32;
    border-radius:18px;
    padding-left:20px;
    line-height:36px;
    color:#000;
}
.car .iconfont{
    font-size:20px;
    color:#ff2030;
}
.car span:nth-of-type(2){
    font-size:14px;
    margin-left:10px;
    
}
.produce{
    width:100%;
    height:30px;

}
.produce img{
    width:208px;
    height:30px;
    float:left;
    margin-left:167px;
}
.produce ul{
    width:430px;
    height:30px;
    float:left;
    margin-left:164px;
}
.produce ul li{
    float:left;
    margin-right:30px;
}
.produce ul li a{
    color:#a7a7a7;
}
.produce .bod{
    color:#ff1e32;
}
.nav1{
    width:100%;
    height:40px;
    position: relative;

}
.nav1 p{
    width:165px;
    height:40px;
    line-height:40px;
    background:linear-gradient(to right,#f00,#ff1831,#ff3263);
    margin-left:167px;
    font-size:14px;
    float:left;
    
}

.nav1 p a{
    color:#fff;
}
.nav1 span{
    margin-left:15px;
}
.nav1 .iconfont{
    font-size:20px;
    color:#ddd;
    font-weight:600;
}
.nav1 b{
    display:inline-block;
    font-weight:normal;
    margin-left:20px;
    /* height:40px; */
    /* line-height:36px; */
}
.nav1 ul:nth-of-type(1){
    width:860px;
    height:40px;
    float:left;
    margin-left:45px;

}
.nav1 ul:nth-of-type(1) li{
    float:left;
    margin-right:40px;
    height:40px;
    line-height:40px;
    font-size:14px;
}
.nav1 ul:nth-of-type(1) li a{
    color:#333333;
    font-weight:bold;
}
.nav1 ul:nth-of-type(1) li a:hover{
    color:#f00;
}
.list{
    position: absolute;
    z-index:10;
    width:165px;
    height:483px;
    line-height:40px;
    background:linear-gradient(to right,#f00,#ff1831,#ff3263);
    left:167px;
    top:40px;
    font-size:14px;

}
.list .iconfont{
    font-size:18px;
    font-weight:normal;
}
.list li{
    border-top:1px solid #ccc;
}
.list li a{
    color:#fff;
    
}
.list li a span:nth-of-type(2){
    font-size:20px;
    color:#efefef;
    opacity: .3;
    
}
.list li:hover{
    
    background:#fff;
}
.list li:hover a{
    color:#f00;
}
.list li:hover .iconfont{
    color:#f00;
}
.list li:hover a span{
    color:#f00;
}
/*轮播图*/
.banner{
    width:100%;
    height:400px;
    position:relative;
    /* margin:30px auto; */
    overflow: hidden;
}
.banner>ul{
    height:400px;
    
    position:absolute;
    
}
.banner>ul>li{
    width:1420px;
    float:left;
}
.banner>ul>li>img{
    width:1420px;
    height:400px;
}
.dir a{
    display: block;
    width:40px;
    height:80px;
    position:absolute;
    top:150px;
    color:#fff;
    background:rgba(0, 0, 0, .5);
    text-align:center;
    line-height:80px;
    font-size:20px;
    display:none;

}
.banner:hover .dir a{
    display:block;
}
.dir>a:nth-child(1){
    left:30px;
}
.dir>a:nth-child(2){
    right:30px;
}
.circular{
    /*给span的父元素定位，这样可以避免span（圆点）重叠*/
    position:absolute;
    bottom:10px;
    left:580px;
    width:145px;
    height:30px;
    border-radius:15px;
    opacity: .3;
    background:#000;
    line-height:30px;
    padding-left:15px;
}
.circular>span{
    /*span不能定位，不然会重叠；*/
    display:block;
    width:10px;
    height:10px;
    border-radius:50%;
    background: #fff;
    margin-top:10px;
    margin-left:10px;
    
    float:left;
    
}
.circular .active{
    background: #f00;
}
/*优惠券*/
.coupon{
    width:1000px;
    height:485px;
    margin:0 auto;
    background:#f6f6f6;
}
.coupon p{
    width:1000px;
    height:68px;
    line-height:68px;
    text-align:center;
    font-size:32px;
    color:#c6485c;
}
.coupon .new_coupon{
    width:966px;
    height:190px;
    border-bottom:1px solid #ddd;
    padding:0 17px;
   
}
.new_coupon li{
    width:216px;
    height:162px;
    float:left;
    margin-right:14px;
}
.new_coupon li:nth-of-type(1){
    width:276px;
}
.new_coupon li:nth-of-type(4){
    margin-right:0;
}
.coupon .usual_coupon{
    width:968px;
    height:156px;
    
    padding:0 16px;
}
.coupon .usual_coupon li{
    width:185px;
    height:135px;
    float:left;
    margin-right:10px;
}
.coupon .usual_coupon li:nth-of-type(5){
    margin-right:0;
}
.discount{
    width:1000px;
    height:258px;
    margin:0 auto;
}
.newperson{
    width:974px;
    height:292px;
    margin:0 auto;
    background:#f6f6f6;
    padding:0 13px;
}
.newperson ul{
    width:1000px;
    height:292px;
}
.newperson ul li{
    width:230px;
    height:292px;
    float:left;
    margin-right:15px;
}
.newperson ul li:nth-of-type(4){
    margin-right:0;
}
.newperson ul li img{
    width:100%;
}
.tit{
    width:1000px;
    height:60px;
    line-height:60px;
    text-align:center;
    background:#e31436;
    font-size:30px;
    font-weight:900;
    color:#fff;
    margin:10px auto;
    
}
/*滑过变长 草稿*/
/* .aa li {
    margin-top: 20px;
    position: relative;
}
.aa li div{
    background: #000;
}
.aa li:hover{
    z-index: 21;
}
.aa li:hover div{
    height: 350px;

} */
.main-content{
    margin-top:10px;
    width:1000px;
    overflow: hidden;
    margin:auto;

}
.main-content img{
    width:190px;
}
.main-content li{
    width:190px;
    height:277px;
    border:1px solid #fff;
    background:#f0f0f0;
    float:left;
    margin-left:6px;
    position: relative;
    margin-bottom: 10px;
}
.main-content li p:nth-of-type(1){
    font-size:14px;
    font-weight:bold;
    text-indent:12px;
    width:175px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    color:#333;
    margin-bottom:10px;
}
.main-content li div span:nth-of-type(1){
    margin-left:5px;
    color:#666;
    font-size:12px;
    
}
.main-content li p:nth-of-type(2){
    color:#e31436;
    margin-left:5px;
    margin-top: 10px;
    position: relative;

}

.main-content li p:nth-of-type(2) .price{
    font-size:16px;
    color:#f00;
    margin-left:0;
}
.title a{
    color:#333;
    text-decoration:normal;
}
.main-content li p:nth-of-type(2) span:nth-of-type(2){
    display: inline-block;
    width:60px;
    height:24px;
    margin-left:35px;
    line-height:24px;
    text-align:center;
    color:#f4a3b1;
    background:#e31436;
    position: absolute;
    right:5px;
    top:0;

}
.main-content li div{
    width:190px;
    border:1px solid #fff;
    border-bottom-color:#f0f0f0; 
}
.main-content li:hover .title{
    overflow:visible;
    white-space: pre-wrap;
    padding-left: 5px;
    
}
.main-content li .title:hover  {
    text-decoration:underline;
}
.main-content li:hover div{
    z-index:10;
   
    /* position: absolute; */
    /* height:500px; */
    position: absolute;
    /* overflow:visible;
    white-space: pre-wrap; */
    border-color: #f00;
    /* padding:5px; */
    padding-bottom: 10px;
    background:#f0f0f0;
}
.footerpic{
    width:1000px;
    height:400px;
    /* position: relative; */
    margin-top:10px;
    padding-left:213px;
}
.foorerpic img{
    width:1000px;
    height:400px;
    
}
.footsecond{
    width:100%;
    background:#f0f0f0;
}
.footnav{
    width:1100px;
    height:150px;
    margin-left:160px;
    margin-top:80px;
    border-bottom:1px solid #eaeaea;

}
.footnav li{
    width:230px;
    height:145px;
    float:left;
    text-align: center;
    padding-left:45px;
    padding-top:50px;
    position: relative;
}
.footnav li span{
    display:block;
    width:50px;
    height:50px;
    text-align: center;
    line-height:50px;
    font-size:20px;
    font-weight:bold;
    border:2px solid #e5e5e5;
    border-radius:50%;
    float:left;
    
}

.footnav li p:nth-of-type(1){
    font-size:18px;
    font-weight:bold;
    position: absolute;
    left:110px;
    top:50px;
}
.footnav li p:nth-of-type(2){
    font-size:14px;
    
    position: absolute;
    left:110px;
    top:75px;
}
.footList{
    width:1100px;
    height:220px;
    padding-top:45px;
    margin:auto;
}
.footList div:nth-of-type(1){
    width:280px;
    height:220px;
    float:left;
}
.footList div:nth-of-type(1) div{
    padding-left:20px;
    width:260px;
}
.footList div:nth-of-type(1) div a{
    float:left;
    margin-right:12px;
    color:#000;
}
.footList div:nth-of-type(1) div a:first-of-type{
    margin-top:10px;
}
.footList ul{
    width:130px;
    height:220px;
    float:left;
}
.footList ul li{
    margin-bottom:15px;
}
.footList ul li a{
    color:#333;
}
.footList ul li:first-child{
    font-size:18px;
    margin-bottom: 25px;
}
.footer{
    width:100%;
    height:125px;
    color:#c2c2c2;
    background: #333333;
    padding-top:25px;
    text-align: center;
}
.footer p{
    margin-bottom: 10px;
}
.footer a{
    color:#c2c2c2;
}
.footer p:nth-of-type(2) a{
    margin-right:22px;
}
.footer p:nth-of-type(3) a{
    margin-right:22px;
}
.footer p:nth-of-type(2) span{
    margin-right:22px;
}
.footer p:nth-of-type(3) span{
    margin-right:22px;
}

.footer p:nth-of-type(3) img{
    border:none;
    margin-right:5px;
}

.footer p:nth-of-type(4) img{
    margin-right:22px;
    border:none;
}
.scrollRight{
    width:100px;
    height:323px;
    position: fixed;
    top:200px;
    right:90px;
    display:none;
  
    background: #f03048;
}
.scrollRight ul{
    width:100px;
    height:323px;
    
    
}
.scrollRight ul li{
    width:100px;
    height:27px;
    text-align: center;
    line-height:27px;
    border-bottom:1px solid #c0263a;
}
.scrollRight ul .scrollRight-first{
    height:34px;
    line-height: 34px;
}
.scrollRight ul .scrollRight-last{
    height:36px;
    line-height:0;
    position: relative;
}
.scrollRight ul a{
    color:#fff;
    width:100%;
    height:100%;
    display: block;
    
    
}
.active{
    background-color:#b42436;
};
/* .scrollRight ul .scrollRight-last span{
    display: block;
    
} */

.scrollRight ul .scrollRight-last span:nth-child(1) .iconfont{
    font-size:24px;

}
.scrollRight ul .scrollRight-last span:nth-child(2){
    font-size:12px;
    font-weight:bold;
} 
.sanjiao{
    position: absolute;
    /* display: block; */
    left:42px;
    top:10px;
    line-height: 0;
    /* z-index: 10; */
}
.back{
    position: absolute;
    left:38px;
    top:25px;
}