@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1556281783671'); /* IE9 */
  src: url('iconfont.eot?t=1556281783671#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKIAAsAAAAABmgAAAI7AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp0gQcBNgIkAwgLBgAEIAWEbQcwG60FEQX0yL44sI0Zh/1oxA4vcp3fmI5uHBlFSfc5Hh7XyveTzF5u5oAVYUGBBHYECtGItS27CgvGVFX4qkpWqLcdHvCYtcYq7a37PzXDvtABZWGfJ97lf9wfyb5cF07jEhWwgC2+dJ/ncnoT6EDuqv+8l+seNNakSRMoDqQA98IostJAMm4Yu+AF3ifQWrRbHK9PXlQV9rJAPAn3b6qFoKKwTBV6DXuLeKNR09M0Xkefj1/2RCVpMrvm7L0Tdxz+ysnJ/UHflYAQIqDDDTJ2oxAXG5OnZcG4rE0WqxyrMvhqMAgc4qhWwf46u3wEzMNU8JWneFTpBArj2cKOST7yqP1l1+92Pn/ff9fy7INczsML43vHv3q6xWCwT8jlMPtn+W0qCgS/T7zs+vj+/7Ur4HOOLMUwN3W/ruD/yAd2FENp21PR5I3ZZEs+b12rxQD2Tvky1TR7M9lQzd6Se8hChqxaJwu7G43OPvRU6CG0dmkOd6aRVJRh7PQGCBM+SMZ8RDbhSxb2h8acP3omIkXrckyf2dmMII4RSkYD6gZBT6N1nSziyi26Uy8pr4z4I9IaIlBmRTnT4Ii0xIb17CpmC5amAWrwGPb9BDNNLWrOPPO8yXPb9KJMT0MkHEOQxJABlBsQaJORDYYzUXn/FnJOehJ1tNVljxBZhclBKVMMIBvdOKjtUZ5ZnTkVxixgkckA1GAW6vUmYG6e1UIay/gJ8dlG7vSyQ3XZ9obh745AyzancKZlvdsyGDlGEQAA') format('woff2'),
  url('iconfont.woff?t=1556281783671') format('woff'),
  url('iconfont.ttf?t=1556281783671') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1556281783671#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan:before {
  content: "\e67c";
}

